body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 40px;
  background: #020617;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #1e293b;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
}

ul li {
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
